"*":
  "atom-material-ui":
    colors:
      abaseColor:
        red: 239
        green: 83
        blue: 80
        alpha: 1
      accentColor:
        red: 89
        green: 252
        blue: 255
        alpha: 1
      genAccent: true
      predefinedColor: "Red"
    fonts: {}
    tabs: {}
    treeView:
      compactList: true
    ui:
      panelContrast: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "markdown-preview"
      "language-python"
      "wrap-guide"
      "tree-view"
    ]
    themes: [
      "atom-material-ui"
      "gruvbox"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    tabLength: 2
  "exception-reporting":
    userId: "912b533a-c6dc-b16d-418b-5c8a9154838d"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  latex:
    buildOnSave: true
    enableShellEscape: true
    openResultAfterBuild: false
    openResultInBackground: false
    skimPath: "~/Applications/Skim.app"
  "latex-plus":
    texBin: "/Library/TeX/texbin/latexmk"
  linter:
    errorPanelHeight: 26
    statusIconScope: "File"
  "linter-clang":
    execPath: "/usr/bin/clang"
  "linter-gcc":
    gccLintOnTheFly: true
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    enablePandoc: true
  minimap: {}
  "multi-wrap-guide":
    locked: true
  nuclide:
    installRecommendedPackages: true
    "nuclide-home":
      showHome: false
    "nuclide-python":
      pathToPython: "/usr/local/bin/python3"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode":
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
".c.source":
  editor:
    tabLength: 4
".cpp.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
  "multi-wrap-guide":
    columns: [
      80
      120
    ]
".js.jsx.source":
  editor:
    preferredLineLength: 100
  "multi-wrap-guide":
    columns: [
      80
      100
    ]
".python.source":
  editor:
    preferredLineLength: 80
  "multi-wrap-guide":
    columns: [
      80
      120
    ]
