packages: [
  "atom-jade"
  "atom-material-ui"
  "base16-eighties-dark"
  "base16-eighties-dark-syntax"
  "ex-mode"
  "Extempore-Atom"
  "gruvbox"
  "haskell-grammar"
  "highlight-selected"
  "language-babel"
  "language-glsl"
  "language-ini"
  "language-latex"
  "language-ocaml"
  "language-scheme"
  "language-thrift"
  "latex"
  "linter"
  "linter-clang"
  "linter-eslint"
  "linter-flake8"
  "MagicPython"
  "markdown-preview-plus"
  "minimap"
  "multi-wrap-guide"
  "nuclide"
  "package-sync"
  "pdf-view"
  "pigments"
  "sort-lines"
  "tool-bar"
  "vim-mode"
]
