packages: [
  "atom-material-ui"
  "base16-eighties-dark"
  "base16-eighties-dark-syntax"
  "ex-mode"
  "Extempore-Atom"
  "gruvbox"
  "language-latex"
  "language-scheme"
  "latex"
  "linter"
  "linter-clang"
  "linter-flake8"
  "MagicPython"
  "markdown-preview-plus"
  "minimap"
  "multi-wrap-guide"
  "package-sync"
  "pigments"
  "vim-mode"
]
